<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About ScribeCall</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <h1> About ScribeCall </h1>
    <p> What is ScribeCall?</p>
    <p> ScribeCall is a voice to text program written in Python.</p>
    <p> Users can connect into voice chat room and talk with one another.</p>
    <p> All voice inputs are converted into text for the other person.</p>
    <p> ScribeCall converts the voice to text in real time.</p>
    <p> This program will help users who have trouble hearing.</p>

    <h2> How to use ScribeCall</h2>
    <p> To use this program, just connect to a voice chat room and start talking to someone else.</p>
    <p> One person will talk and the speech will get converted into text for the other person to read.</p>
    <p> This will allow both users to easily understand what is being said.</p>
    <p> When you are done with the call, simply press the disconnect button.</p>
    {% endblock %}
  </body>
</html>
